body {
  font-family: Arial;
  background: #fafafa;
  margin: 0;
}

.title {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #fff;
  letter-spacing: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100px;
  margin-bottom: 10px;
}

button {
  background: black;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}